# Ignore all .py files in the root folder only
/*.py

# Model files
models/

# Data files
data/

# Temporary/test scripts
temp/

# Cache files
__pycache__/

# Environment files
.venv/

# OS files
.DS_Store
Thumbs.db
